@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --success-color: #28a745;
  --alert-color: #dc3545;
  --primary-color: #5a6c80;
  --secondary-color: #000;
}

body {
  background-color: #f3f4f6;
}
